<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/navbar :: nav "></div>

<div class="container">
    <section class="py-5">
        <div class="card shadow-lg">
            <div class="card-body p-5">
                <h1 class="fs-4 card-title fw-bold mb-4">Welcome to game page</h1>
                <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
            </div>
        </div>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>