<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>
<section class="h-100">
    <div class="container h-100">
        <div class="row justify-content-sm-center h-100">
            <div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9">
                <div class="card shadow-lg">
                    <div class="card-body p-5">
                        <h1 class="fs-4 card-title fw-bold mb-4">Welcome to game page</h1>
                        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
                    </div>
                </div>
                <div th:replace="fragments/footer :: footer"></div>
            </div>
        </div>
    </div>
</section>
</body>
</html>