<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/navbar :: nav "></div>

<div class="container">
    <section class="py-5">
        <h1>Leaderboard</h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Average</th>
                <th scope="col">Total games</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user, iter : ${users}">
                <th scope="row" th:text="${iter.index+1}"></th>
                <td th:text="${user.username}">Mark</td>
                <td th:text="${#lists.size(user.games)}">Otto</td>
                <td th:text="${#lists.size(user.games)}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


