<!DOCTYPE html>
<html>
<head th:replace="fragments/header :: head"></head>
<body>

<div th:replace="fragments/navbar :: nav "></div>

<div class="container">
    <section class="py-5">
        <p class="display-6">Leaderboard</p>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Total attempts</th>
                <th scope="col">Total games</th>
                <th scope="col">Average attempts</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="stat, iter : ${stats}">
                <th scope="row" th:text="${iter.index+1}"></th>
                <td th:text="${stat.user.username}"></td>
                <td th:text="${stat.attemptCount}"></td>
                <td th:text="${stat.gameCount}"></td>
                <td th:text="${#numbers.formatDecimal(stat.averageAttemptCount, 0, 2)}"></td>
            </tr>
            </tbody>
        </table>
    </section>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>


